@import 'tailwindcss';

/* Pretendard 폰트 패밀리 등록 */
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --max-width: 1024px; /* max-w-screen-lg 값 */

  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-resolution: 96dpi) {
  :root {
    font-size: 13px;
  }
}

/* 고해상도 디스플레이에서 폰트 크기 조정 */
@media screen and (min-resolution: 120dpi) {
  :root {
    font-size: 12px;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
  font-size: inherit;
}

button,
[role='button'],
input[type='button'],
input[type='submit'],
input[type='reset'],
select,
summary {
  cursor: pointer;
}

img,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
  cursor: default;
}
